body
  // padding: 50px
  font: 14px "Roboto", Helvetica, Arial, sans-serif !important
a
  color: #00B7FF

.section
	padding-bottom: 2em;
	padding-top: 2em;
	
.container-fluid.main
	padding-left: 0
	padding-right: 0
	
.section:nth-child(1)
	background: #dff0d8;

.section:nth-child(2)
	background: #dff0d8;
	
.section:nth-child(4)
	background: #FDFDFD

.meal-card-container
	padding: 10px 50px !important;

.meal-card
	padding: 50px
	background: white
	box-shadow: 1px 1px 5px #AAA;

h1 
	color: #3c763d