body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif !important;
}
a {
  color: #00b7ff;
}
.section {
  padding-bottom: 2em;
  padding-top: 2em;
}
.container-fluid.main {
  padding-left: 0;
  padding-right: 0;
}
.section:nth-child(1) {
  background: #dff0d8;
}
.section:nth-child(2) {
  background: #dff0d8;
}
.section:nth-child(4) {
  background: #fdfdfd;
}
.meal-card-container {
  padding: 10px 50px !important;
}
.meal-card {
  padding: 50px;
  background: #fff;
  box-shadow: 1px 1px 5px #aaa;
}
h1 {
  color: #3c763d;
}
